name: Run lint and build
on: [push, pull_request]

jobs:
  run:
    name: Lint and build
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install npm 11
        run: npm i -g npm@11

      - run: node --version
      - run: npm --version

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build
